@charset "UTF-8";

*{
    margin:0;
    padding:0;
}

header{
    background-color: #1fbba6;
}

#title{
    color: #fff;
}

#title h4{
    font-size: 0.9em;
}

#logo{
    padding: 4px;
    padding-top: 30px;
}

#logo > img{
    float: right;
    width: 100px;
    height: 30px;
}
#mycan{
    width:100%; 
    height:200px;
    background:url("../images/bg.png");
    background-size: cover;
}
#wrapper{
    padding-left:15%;
    margin-top: -60px;
}
#shuoming p{
    font-size: 1px;
    margin-left: 15px;
}
#red{
    background-color: rgba(192,80,78,1);
    border: solid 1px rgba(255,255,255,1);
}
#blue{
    background-color: rgba(79,192,188,1);
    border: solid 1px rgba(255,255,255,1);
}
#enter-index{
    float: right;
    background-color: #fff;
    border-radius: 50px;
    color: #1fbba6;
    clear: both;
    padding: 0.1em 0.3em;
}

#enter-index img{
    width: 20px;
    height: 20px;
}

#nav{
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
}

.nav-col{
    width: 20%;
    padding: 4px;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 2px solid #b8b8b8;
    float: left;
    text-align: center;
    line-height: 30px;
}

.nav-col>a{
    color: #b8b8b8;
    text-decoration: none;
}

.nav-col>a:hover{
    color: #1fbba6;
}

.nav-col:hover, .nav-col-active{
    color: #1fbba6;
    border-bottom: 2px solid #1fbba6;
}

.nav-col-active a{
    color: #1fbba6;
}

#nav-title{
    /*border-bottom: 2px solid #b8b8b8;*/
    padding-top: 6px;
    padding-bottom: 5px;
}

#nav-title > span{
    margin-left: 5px;
}

#nav-title > a{
    font-size: 20px;
    color: #b8b8b8;
    float: right;

}
#nav-title img{
    float: right;
    width: 30px;
    height: 30px;
    margin-right: 14px;
}
.country-area{
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.country-area span{
    font-size: 0.9em;
}

.rate-country{
    width: 60px;
    height: 40px;
    padding: 5px 0 0 0;
    display: block;
    margin: 0 auto;
}

.rating-start{
    width: 68%;
    display: inline-block;
    float:right;
    margin-top:10px;
}

.rating-start img{
    width: 25px;
    height: 25px;
    margin-left: 5%;
    display: none;
}

#description{
    margin-top: 10px;
    font-family:'楷体';
}

#description img{
    width: 15px;
    height: 15px;
    margin-bottom: 0;
}

.table{
    margin-bottom: 0;
}

#description>table>thead>tr>td>small{
    color: #9B9B9B;
    float: right;
    font-size: 12px;
    display: inline-block;
    width: 80%;
}

#description .table>tbody>tr>td,#description .table>thead:first-child>tr:first-child>td{
    padding: 4px;
}

.nutrition-list>div:first-child>img{
    width: 40%;
}

.nutrition-list>div:first-child>{
    text-align: center;
}

.nutrition-list>div>p{
    font-size: 0.7em;
    margin: 0;
}

.nutrition-list>.col-xs-4{
    text-align: center;
    margin-top: 10px;
}

.nutrition-list>.col-xs-5>img{
    width: 20%;
    display: block;
	float: inherit;
}

.nutrition-list>.col-xs-5>span{
    font-size: 1em;
	float: inherit;
}

.nutrition-list>.col-xs-5{
    padding: 6% 0;
}

.nutrition-list>.col-xs-3>p{
    padding: 20px 0;
    font-size: 12px;
}


/*effect.html部分*/
.effect-list{
    margin:1.5em 0 0 0;
}

.effect-list>.col-xs-3{
    margin:0;
    padding:0;
}

.effect-list>.col-xs-3>.chillies{
    width:30px;
    margin:0 0 0 0.1em;
}

.effect-list>.col-xs-1{
    padding: 0;
    text-align: center;
}

.effect-list>.col-xs-1>img{
   width: 30px;
   height: 40px;
}

.effect-list>.col-xs-1>p{
    display: inline-block;
    font-size: 8px;
}

#face{
    margin-left:25%;
}
.text-list{
    margin:1em 0 0 0;
}
.text-list>.col-xs-3>.p-chillies{
    white-space: nowrap;
    font-size: 1em;
    font-weight: 600;
    margin:-0.5em 0 0 -2em;
    color:#4d4545;
    text-align: center;
}
.text-list>.col-xs-3>p{
    font-size:0.8em;
    white-space: nowrap;
    color:#797070;
    text-align: right;
}

.nutrition-bar{
    margin:1.5em -1em 0 -1em;
    padding:0;
    border-bottom: 2px solid #269abc;
    position:relative;
}
.nutrition-bar>.col-xs-6{
    margin:0;
    padding:0;
}
.nutrition-bar>.col-xs-6>img{
    width:115%;
    margin-bottom:0;

}
.nutrition-bar>.col-xs-3{
    position:absolute;
    right:0;
    bottom:0;
}
.nutrition-bar>.col-xs-3>p{
    white-space: nowrap;
    float:right;
    font-size:0.8em;
    margin-bottom:0;
}
.survey-list{
    margin-top:2em;
    position: relative;
}
.survey-list>.col-xs-3{
    margin:0;
    padding:0;
}
.survey-list>.col-xs-3>div.img{
    margin-left:25%;
}
.survey-list>.col-xs-3>p{
    margin-top:35%;
    font:1.2em "微软雅黑";
}

.fuckUC{
    margin-left:15% !important;
    margin-top:35% !important;
    font-size:12px !important;
    color:red;
    display: inline;
}

.text-survey{
    margin-top:40px;
}
.text-survey>.col-xs-3>p{
    white-space: nowrap;
    line-height: 1em;
    text-align: center;
}
.text-survey>.col-xs-3>p>.red{
    font-size:1em;
    color:crimson;
}
.text-survey>.col-xs-3>.p-small{
     font-size: smaller;
    line-height: 12px;
}
.protein{
    margin:0.5em 0.1% 3% 0.1%;
    padding:2%;
    background: rgba(0,0,0,0.1);
    border-radius:0.5em;
}
.protein>p{
    font-size:0.8em;
}


/*producer.html部分*/
#pro-contain{
    background:rgba(0,0,0,0.05);
    height:75%;
    margin:-1%;
    overflow: hidden;
}
#material{
    background: #a32025;
    height:70%;
    margin-left:0;
    margin-top:3.5%;
    border-radius: 0.01em 0.4em 0.4em 0.01em;
    padding-top:0.4em;
}
#material>p{
    float:left;
    color:#ddd;
    font-size: 1.3em;
    white-space: nowrap;
    line-height: 1em;
}
.border{
    height:100%;
    width:100%;
    border-radius: 50%;
    border:2px dashed gray;
}
.border>img{
    width:100%;
}
#pro-contain>.producer{
    margin-left:0;
    clear:left;
    margin-top:17%;
}
.producer>.col-xs-5>.txt>.red{
    font:1.6em arial, '宋体', sans-serif;
    font-weight:600;
    color:red;
    margin-top:15%;
}
.producer>.col-xs-5>.txt>p{
    font: 0.8em "微软雅黑";
    white-space: nowrap;
}
.producer>.col-xs-5>.txt>p>span{
    font:1.65em arial, '宋体', sans-serif;
    font-weight: 600;
}
.producer>.col-xs-5>.txt{
    margin-top:35%;
}
#producer01>.col-xs-5>.txt{
    float:left;
}
#producer02>.col-xs-5>.txt{
    float:right;
}
#producer02>.col-xs-5>.txt>p{
    float:right;
    clear: both;
}

/*map*/
#map{
    height:40em;
    margin-left:-10%;
    margin-right:-10%;
    margin-top:-0.5%;
}

#description>table{
    font-size: 8px;
}

.table>tbody>tr>td{
    font-family: '楷体';
}

.flowAninate{

}

.photo-container{
    background-color: #393939;
}

.photo-container img{
    width: 180px;
    height: 180px;
    margin-bottom: 10px;
}

.photo-container p{
    color: #ffffff;
    line-height: 15px;
}

.feed-list{
    padding: 0 10px;
    position: relative;
}

.feed-list>hr{
    margin: auto auto 10px auto;
    padding: 0;
    border-top: 1px solid #E1E1E1;
}

.feed-list>ul>li:not(:last-child){
    border-bottom: 1px solid #ddd;
    margin: 10px 10px 10px 35px;
    list-style: none;
}

.feed-list-content{
    /*padding-left: 40px;*/
}

.feed-list-content>small{
    color: gray;
}

.feed-list-active-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 5px solid #c5e9d5;
    background-color: #25ad5f;
    position: absolute;
    left: 8px;
    z-index: 100;
}

.feed-list-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #dcdcdc;
    position: absolute;
    left: 10px;
    z-index: 100;
}

.feed-list-line{
    width: 2px;
    height: 200px;
    position: absolute;
    left: 20px;
    top:50px;
    background-color: #dcdcdc;
}

.feed-list-content-image-list>img{
    width: 30px;
    height: 30px;
}
.panel{
    margin-bottom: 0px;
}
.panel span{
    color: blue;
    float: right;
}
#content span{
    color: blue;
} 